<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Server</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hello From Backend Server PORT: <%= PORT %></h1>
        <p>Request received from <%= IP %></p>
        <p>User-Agent: <%= USER_AGENT %></p>
    </div>
</body>
</html>