<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Server</title>
</head>
<body>
    <h1>Hello From Backend Server PORT: <%= PORT %></h1>
    <p>Request received from <%= IP %></p>
    <p>User-Agent: <%= USER_AGENT %></p>
</body>
</html>